html {
    height: 100%;
}

/* body {
    position: relative;
    min-height: 100%;
    color: #000;
    font-family: tahoma;
} */

/* html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
} */

.hidden {
    display: none;
}

#slider-1st-header-1,
#slider-1st-header-2,
#slider-2nd-header-1,
#slider-2nd-header-2,
#slider-3rd-header-1,
#slider-3rd-header-2 {
    color: #ffffff;
}

h5.single_bn_title1,
h4.single_bn_title1,
h3.single_bn_title {
    color: #ffffff;
}

a.single_bn_link {
    color: #ff324d;
}

.page-item.active .page-link,
.page-item.active .page-link {
    background-color: #ff324d !important;
    border-color: #ffd6db !important;
}

.pagination .page-item a {
    color: black !important;
}

.hidden {
    display: none;
}

/** Product CSS **/
.product-item {
    background: #dcf4fc;
}
.child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: #fff;
}
.child-rows a.list-group-item {
    border-left: 0px !important;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ff324d !important;
    border-color: #ff324d !important;
    border-radius: 0px !important;
}

/* User CSS */

.pointer {
    cursor: pointer;
}

/** End Product CSS **/
